#title {
    text-align: center;
    color: #323031;
}

#image1 {
    text-align: center;
    border: 2px solid #7B0D1E;
    border-radius: 10px;
}

.main_summary {
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
}

#translation {
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3D1308;
}

li {
    float: right;
    font-family: 'Mukta', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #DCE0D9;
    color: black;
    text-decoration: none;
}
#header {
    font-family: 'Sono', sans-serif;
}
.main-info {
    font-family: 'Roboto Mono', monospace;
}
#central-soldiers {
    width: 800px;
    height: 550px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 100px;
    border: 2px solid #808F85;
    border-radius: 20px;
}
.importance div {
    float: left;
    clear: none;
}
.importance-reason {
    width: 800px;
    margin-top: 100px;
    font-size: 19px;
    font-family: 'Noto Serif', serif;
    letter-spacing: 2px;
}
#ottoman-empire {
    width: 800px;
    height: 550px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
    border: 2px solid #3D1308;
    border-radius: 20px;
}
.ottoman-reason {
    width: 800px;
    margin-top: 100px;
    font-size: 19px;
    font-family: 'Noto Serif', serif;
    letter-spacing: 2px;
}
#central-map {
    width: 800px;
    height: 600px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
    border: 2px solid #7B0D1E;
    border-radius: 20px;
}
.start-of-war {
    width: 800px;
    margin-top: 50px;
    font-size: 19px;
    font-family: 'Noto Serif', serif;
    letter-spacing: 2px;
}
